.main-img{
    background-image: url(./img/Arriva-il-Frecciarossa-da-Torino-a-Parigi-entro-fine-2021-due-treni-al-giorno.webp) ;
    background-size: cover;
    min-height: 800px;
    
}

.bg-color{
    background-color: rgb(128,128,128,0.2)
    
}

